<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Andrew Kurjata</title>
    <meta name="description" content="contact for Andrew Kurjata">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/20c2ae25-cb5a-4a62-8e94-d0812a7b6ff6%2Fphoto_fgF_icon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
    <h1>  <img src="https://cdn.glitch.com/20c2ae25-cb5a-4a62-8e94-d0812a7b6ff6%2Fphoto.jpg?1504980192840"></img>
<a href="http://akurjata.ca" target="_blank" rel="noopener noreferrer">Andrew&nbsp;Kurjata</a></h1>
    
      
    </header>
<description
      <p><strong>Journalist, radio producer, poptimist</strong></p>
<img src="https://cdn.glitch.com/20c2ae25-cb5a-4a62-8e94-d0812a7b6ff6%2F20190425_144343.jpg?1556335158913"></img> 
</description>
  <main> 
<strong><p>About</p></strong>
    <p>Hello! I am a multimedia journalist covering Northern British Columbia for <a href="https://www.cbc.ca/player/search?query=%22andrew+kurjata%22" title="recent appearances" target="_blank" rel="noopener noreferrer">CBC Radio</a> and <a href="https://www.google.com/search?q=site:cbc.ca+andrew+kurjata&source=lnt&tbs=qdr:y" title="recent bylines" target="_blank" rel="noopener noreferrer">cbc.ca</a> (click the links for recent work).</p>
 <p>I am also the culture columnist for <a href="http://thimbleberry.ca/" target="_blank" rel="noopener noreferrer">Thimbleberry Magazine</a>, and in my spare time I run a newsletter about <a href="https://thelocal.substack.com" target="_blank" rel="noopener noreferrer">communities in Canada</a>.
<p>
  I am based in the city of Prince George, on the traditional and unceded territory of the Lheidli T'enneh First Nation.
    </p>
    <p>In case you're wondering, my last name is pronounced <a href="https://soundcloud.com/akurjata/kurjata-supercut" target="_blank" rel="noopener noreferrer">"ker • ya • ta"</a>.</p>
<p></p><p></p>
    

       <strong>Contact</strong>
      <p>Email (personal): <a href="mailto:andrew@kurjata.ca" target="_blank" rel="noopener noreferrer">andrew@kurjata.ca</a></p> 
      <p>Email (professional): <a href="mailto:andrew.kurjata@cbc.ca" target="_blank" rel="noopener noreferrer">andrew.kurjata@cbc.ca</a></p>
      <p>DM's open: <a href="http://twitter.com/akurjata" target="_blank" rel="noopener noreferrer">Twitter</a> |
        <a href="http://facebook.com/akurjata" target="_blank" rel="noopener noreferrer">Facebook</a> 
    </p>
    <p>Secure messaging: <a href="http://keybase.io/akurjata" target="_blank" rel="noopener noreferrer">Keybase</a> |
      <a href="https://t.me/akurjata" target="_blank" rel="noopener noreferrer">Telegram</a>
    </p><p>
  Phone: 250-562-6701 ext. 222 (Mon-Fri, 9 am - 5 pm PST)
      </p>
   
<p><strong>More</strong></p>
<p>Full resume on <a href="https://ca.linkedin.com/in/akurjata" target="_blank" rel="noopener noreferrer">LinkedIn</a>.</p>
<p>Blog and biography at <a href="https://www.andrewkurjata.ca" target="_blank" rel="noopener noreferrer">andrewkurjata.ca</a>.</p>
      <p>I'm also on <a href="https://open.spotify.com/user/akurjata" target="_blank" rel="noopener noreferrer">Spotify</a> and <a href="http://instagram.com/akurjata" target="_blank">Instagram</a>.</p>
        
      </p>
      <!--
  <p>
    Musical tastes on <a href="https://open.spotify.com/user/akurjata" target="_blank">Spotify</a> and <a href="http://mixcloud.com/akurjata" target="_blank">Mixcloud</a>. Nothing of importance on <a href="https://www.snapchat.com/add/akurjata" target="_blank">Snapchat</a> and <a href="http://instagram.com/akurjata" target="_blank">Instagram</a>.</p>
       -->
      
       
    </main>
    <footer><i>
      I made this homepage as an experiment using Glitch and AWS. Instructions are <a href="https://glitch.com/~akurjata" target="_blank">here</a>.
      </i> </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
