<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Andrew Kurjata</title>
    <meta name="description" content="contact for Andrew Kurjata">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/20c2ae25-cb5a-4a62-8e94-d0812a7b6ff6%2Fphoto_fgF_icon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
    <h1>  <img src="https://cdn.glitch.com/20c2ae25-cb5a-4a62-8e94-d0812a7b6ff6%2Fphoto.jpg?1504980192840"></img>
<a href="http://akurjata.ca">Andrew&nbsp;Kurjata</a></h1>
    
      
    </header>
<description
      <p><strong>It's pronounced "ker • ya • ta"</strong></p>
  </description>
<strong><p>About</p></strong>
<p>Journalist covering Northern British Columbia for CBC Radio and cbc.ca.</p>
    <main> 
    
      <p>
        <b>Find me online</b>
      </p>

      <p>
        Recent bylines on <a href="https://www.cbc.ca/news/andrew-kurjata-1.3947097" target="_blank">cbc.ca</a> and in <a href="https://www.facebook.com/thimbleberrymagazine/" target="_blank">Thimbleberry Magazine</a>.
      
</p>
      
       <strong>Contact</strong>
      <p><a href="mailto:andrew@kurjata.ca" target="_blank">andrew@kurjata.ca</a> <i>(personal)</i></p> 
      <p><a href="mailto:andrew.kurjata@cbc.ca" target="_blank">andrew.kurjata@cbc.ca</a> <i>(professional)</i></p>
      <p><a href="http://twitter.com/akurjata" target="_blank">twitter</a> |
        <a href="http://facebook.com/akurjata" target="_blank">facebook</a> |
  <a href="http://keybase.io/akurjata" target="_blank">keybase</a> |
      <a href="https://t.me/akurjata" target="_blank">telegram</a></p> 
      <p>
  phone: 250-562-6701 ext. 222 (Mon-Fri, 9 am - 5 pm PST)
      </p>
       <p></p>
      
      <p>
Curator of <a href="https://thelocal.substack.com">the Local</a>, a newsletter about Canadian communities.
      </p>
      </p>
            <p>Blog and biography at <a href="http://andrewkurjata.ca" target="_blank">andrewkurjata.ca</a>.</p>

      <p>I'm also on <a href="https://open.spotify.com/user/akurjata" target="_blank">spotify</a>, <a href="https://akurjata.tumblr.com" target="_blank">tumblr</a>, and <a href="http://instagram.com/akurjata" target="_blank">instagram</a>.</p>
        
      </p>
      <!--
  <p>
    Musical tastes on <a href="https://open.spotify.com/user/akurjata" target="_blank">Spotify</a> and <a href="http://mixcloud.com/akurjata" target="_blank">Mixcloud</a>. Nothing of importance on <a href="https://www.snapchat.com/add/akurjata" target="_blank">Snapchat</a> and <a href="http://instagram.com/akurjata" target="_blank">Instagram</a>.</p>
       -->
      
       
    </main>
    <footer><i>
      I made this homepage as an experiment using Glitch and AWS. Instructions are <a href="https://glitch.com/~akurjata" target="_blank">here</a>.
      </i> </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
