/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin-left: 5%;
  margin-right: 25px;
}

h1 {
  font-weight: bold;
 
}

h1 a {color: black; text-decoration: none;}

h1 a:hover { color: #ff4500; text-decoration: none;
  
}

.bold {
  font-weight: bold;
}

header {  
    font-size:1.25em;

margin-left: auto;
margin-right: auto;
margin-top: 0.75em; 
    line-height: 1.2em;
}

header h1 {margin-left: auto;
margin-right: auto;
margin-top: 1.2em;
  margin-bottom: 1.2 em;
    line-height: 1.2em;
    }

description {  
    font-size:1.25em;
width:57%;
margin-left: auto;
margin-right: auto;
margin-top: -1.75em; 
    line-height: 0.0em;
}

description img{
  position: relative;
  padding-top:  /* 16:9 Aspect Ratio */
  left: 0;
  top: 0;
  width: 60%;
  max-width: 350px;
  min-width: 100px;
  height: auto;
}


p {
  max-width: 1000px;

}

main a {color: #ff4500; text-decoration: none; border-bottom: 1px dashed;}
main a:hover { color: #ff4500; text-decoration:none; border-bottom:1px solid;} 


li {
  margin-bottom: 15px;
}


footer {
  margin-top: 0px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}
